@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* New Theme Colors */
  --color-primary: #363d85;
  --color-primary-light: #4c54a4;
  --color-surface-light: #f8fafc;
  --color-surface: #ffffff;
  --color-text-main: #1e293b;
  --color-text-sub: #475569;
  --color-border-subtle: #e2e8f0;
}

html, body {
  background: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  animation: marquee 45s linear infinite;
}
.marquee-content {
  display: flex;
  white-space: nowrap;
}
